
.mission-container {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.row {
  background-color: #fcfcfc;
}

.column {
  border: 1px solid #cecaca;
  text-align: left;
  padding: 8px;
}

.column:first-child {
  width: 12%;
}

.column:nth-child(2) {
  width: 60%;
}

.column:nth-child(3) {
  width: 12%;
}

.column:nth-child(4) {
  width: 16%;
}
