.nav-header {
  border-bottom: #0290ff 0.02px solid;
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  padding: 2px 4%;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.nav-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.65rem;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #0290ff;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}

.link-mid {
  padding: 10px 0;
  width: 0;
  height: 20px;
  border-left: 1px #000 solid;
}

.active-link {
  text-decoration: underline;
}

.logo {
  width: 50px;
  height: 50px;
}
